services:
  vdp:
    image: harbor.open.denodo.com/denodo-express/denodo-platform:latest
    container_name: vdp
    hostname: vdp
    platform: linux/amd64
    ports:
      - "9090:9090"
      - "9999:9999"
      - "9994:9994"
    volumes:
      - ./config/denodo.lic:/opt/denodo/conf/denodo.lic:ro
      - ./data:/home/data
#     - ./drivers/postgresql-42.7.10.jar:/opt/denodo/lib/extensions/jdbc-drivers/postgresql-42.7.10.jar:ro
#    environment:
#      # PostgreSQL
#      - DENODO_DATABASE_PROVIDER=postgresql
#      - DENODO_DATABASE_PROVIDER_VERSION=14
#      - DENODO_DATABASE_URI=jdbc:postgresql://db:5432/denodo_metadata
#      - DENODO_DATABASE_USER=denodo_user
#      - DENODO_DATABASE_PASSWORD=change_for_prodution
#      - DENODO_DATABASE_SCHEMA=public
#      - DENODO_DATABASE_DRIVER=org.postgresql.Driver
#      - DENODO_DATABASE_DRIVER_EXTERNAL=/opt/denodo/lib/extensions/jdbc-drivers/postgresql-42.7.10.jar
#      - DENODO_DATABASE_CLASSPATH=/opt/denodo/lib/extensions/jdbc-drivers/
#      # WARNING: only true for reset
#      - DENODO_DATABASE_RESET=false
    command: --vdpserver --datacatalog --designstudio
    networks:
      - internal
    restart: unless-stopped

  ai-sdk:
    image: harbor.open.denodo.com/denodo-express/ai-sdk:latest
    container_name: ai-sdk
    platform: linux/amd64
    ports:
      - "8008:8008"
      - "9992:9992"
    volumes:
      - ./config/chatbot_config.env:/opt/ai-sdk/sample_chatbot/chatbot_config.env
      - ./config/sdk_config.env:/opt/ai-sdk/api/utils/sdk_config.env
    depends_on:
      - vdp
    command: bash -c "python run.py both --host vdp --no-logs"
    networks:
      - internal
    restart: on-failure

#  db:
#    image: postgres:14
#    container_name: postgres-denodo
#    environment:
#      POSTGRES_USER: denodo_user
#      POSTGRES_PASSWORD: change_for_prodution
#      POSTGRES_DB: denodo_metadata
#    ports:
#      - "5432:5432"
#    volumes:
#      - ./postgres_data:/var/lib/postgresql/data
#    networks:
#      - internal

networks:
  internal:
    name: internal
    driver: bridge
